*,
**:before,
**:after {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #4b5563;
}

/* button component */
button {
  background-color: #e5e7eb;
  color: #4b5563;
  border: 1px solid #6b7280;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  font-weight: 700;
  padding: 9px 17px;
  border-radius: 6px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

button:focus {
  outline: none;
}

button.button-sm {
  padding: 7px 11px;
  font-size: 12px;
}

button.button-lg {
  padding: 13px 25px;
}

button.button-success {
  color: #047857;
  background-color: #ecfdf5;
  border-color: #047857;
}

button.button-warning {
  color: #fbbf24;
  background-color: #fffbeb;
  border-color: #fbbf24;
}

button.button-danger {
  color: #f87171;
  background-color: #fef2f2;
  border-color: #f87171;
}

/* menu component */

.menu {
  position: relative;
  display: inline-block;
}

.menu-button {
  background-color: white;
}

.menu-dropdown {
  position: absolute;
  left: 0;
  margin-top: 3px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 6px;
  background-color: white;
}

.menu-item {
  color: #4b5563;
  padding: 0.75rem;
  cursor: pointer;
  min-width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.menu-item:hover {
  background-color: whitesmoke;
}

.menu-item:not(:last-child) {
  border-bottom: 1px solid #6b7280;
}

/* badge component */

div.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 1.5em;
  background-color: white;
  border: none;
}

div.badge p {
  font-family: "Inter", "sans-serif";
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
}

div.badge-square {
  border-radius: 4px;
}

div.badge-pill {
  border-radius: 25px;
}

div.badge-gray {
  background: #c4c4c5;
  color: #1f2937;
}

div.badge-red {
  background: #fee2e2;
  color: #991b1b;
}

div.badge-yellow {
  background: #fef3c7;
  color: #92400e;
}

div.badge-green {
  background: #d1fae5;
  color: #065f46;
}

div.badge-blue {
  background: #dbeafe;
  color: #1e40af;
}

div.badge-indigo {
  background: #e0e7ff;
  color: #3730a3;
}

div.badge-purple {
  background: #ede9fe;
  color: #5b21b6;
}

div.badge-pink {
  background: #fce7f3;
  color: #9d174d;
}

/* banner component */

div.banner {
  font-family: "Inter", "sans-serif";
  display: flex;
  gap: 0.75em;
  padding: 1em 1em 0.5em 1em;
  width: 90vw;
  border-radius: 6px;
  background-color: white;
}

div.banner.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.banner img {
  width: 20px;
  height: 20px;
}

div.banner-success {
  background: #ecfdf5;
  color: #065f46;
}

div.banner-warning {
  background: #fffbeb;
  color: #92400e;
}

div.banner-error {
  background: #fef2f2;
  color: #92400e;
}

div.banner-neutral {
  background: #eff6ff;
  color: #1e40af;
}

.banner-title {
  margin: 0;
  padding: 0;
  font-weight: 500;
}
